# Development files
src/
.husky/
testbed/
eslint.config.ts
.lintstagedrc
.prettierrc
.prettierignore
.stylelintrc
.stylelintignore
dts-bundle-generator.config.ts
tsconfig.jsonvite.config.ts
server/
examples/

# Keep build files
!build/