.bolt-no-scroll {
  overflow: hidden;
}

#bolt-modal-container,
#bolt-modal-container-ads {
  background: transparent;
  border-width: 0;
  box-sizing: content-box;
  flex-direction: column;
  height: max(800px, 90vh);
  max-height: 100vh; /* override dialog defaults */
  max-width: 100vw; /* override dialog defaults */
  padding: 0;
}

#bolt-modal-container-ads[open] {
  display: flex;
}

#bolt-modal-container::backdrop,
#bolt-modal-container-ads::backdrop {
  background: rgba(0, 0, 0, 0.85);
}

#bolt-modal-container {
  inset: 0;
  margin-inline: auto;
  max-height: 100vh;
  width: 480px;
}

#bolt-modal-container-ads {
  margin: auto;
  width: clamp(800px, 90%, 1200px);
}

@media (max-height: 800px) {
  #bolt-modal-container-ads {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  #bolt-modal-container,
  #bolt-modal-container-ads {
    border-radius: 10px;
  }
}

/* For timed, the radius must only be for the bottom */
#bolt-iframe-modal {
  border: 0;
  border-radius: 10px;
  display: block;
  height: 100%;
  margin: auto;
  max-width: 480px;
  width: 100%;
}

#bolt-ad-banner {
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #000;
  display: grid;
  font-size: 16px;
  grid-template-areas: 'x action counter';
  grid-template-columns: 1fr auto 1fr;
  height: 40px;
  padding: 4px 16px;
}

#banner-counter {
  align-items: center;
  display: flex;
  font-weight: bold;
  grid-area: counter;
  justify-content: end;
}

#claim-reward-button {
  background-color: #4caf50;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  grid-area: action;
  margin: 0;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}
