.bolt-no-scroll {
  overflow: hidden;
}

#bolt-modal-container,
#bolt-modal-container-ads {
  background: transparent;
  border-width: 0;
  box-sizing: content-box;
  flex-direction: column;
  height: max(800px, 90vh);
  max-height: 100vh; /* override dialog defaults */
  max-width: 100vw; /* override dialog defaults */
  padding: 0;
}

#bolt-modal-container-ads[open] {
  display: flex;
}

#bolt-modal-container::backdrop,
#bolt-modal-container-ads::backdrop {
  background: rgba(0, 0, 0, 0.85);
}

#bolt-modal-container {
  inset: 0;
  margin-inline: auto;
  max-height: 100vh;
  width: 480px;
}

#bolt-modal-container-ads {
  margin: auto;
  width: clamp(800px, 90%, 1200px);
}

@media (max-height: 800px) {
  #bolt-modal-container-ads {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  #bolt-modal-container,
  #bolt-modal-container-ads {
    border-radius: 10px;
  }
}

#bolt-iframe-modal {
  border: 0;
  border-radius: 10px;
  display: block;
  height: 100%;
  margin: auto;
  max-width: 480px;
  width: 100%;
}
